@page "{id}"
@RouteData.Values["title"]
@model CatFishingWebSite.Pages.Match.indexModel
@{
    ViewData["Title"] = "index";

}

<h1>Hello  @CatFishingWebSite.Model.CookieModel.userName , find your date</h1>
<p></p>



