@page
@model CatFishingWebSite.Pages.Signup.indexModel
@{
    
    ViewData["Title"] = "index";
}

<h1>Signup</h1>
<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <!--Sign up -->
        <div class="col-md-4">
            <form method="post">
                <fieldset>
                    <legend> Upload Image </legend>
                    <label for="Image">Image</label>
                    <input type="file" name="Image" />

                    <!-- <input type="submit" value="Upload" />-->
                </fieldset>
                <div class="form-group">
                    <label asp-for="fisher.name" class="control-label"></label>
                    <input asp-for="fisher.name" class="form-control" />
                    <span asp-validation-for="fisher.name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="fisher.gender" class="control-label"></label>
                    <input asp-for="fisher.gender" class="form-control" />
                    <span asp-validation-for="fisher.gender" class="text-danger"></span>
                </div>
            </form>
        </div>
        
       
        <div class="col-md-1"></div>

    </div>

</div>
