@page "{id?}"
@model CatFishingWebSite.Pages.AccountManage.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<dl class="row">
    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.fisher.Username) :
        @Html.DisplayFor(model => model.fisher.Username)
    </dt>
    <dt class="col-sm-6">
     Name :   @Html.DisplayFor(model => model.fisher.FirstName)
    
    </dt>

    <dd class="col-sm-3">

        Gender: @Html.DisplayFor(model => model.fisher.Gender)
    </dd>
</dl>
<form method="post">
    <fieldset>
        <legend> Upload Image </legend>
        <label for="Image">Image</label>
        <input type="file" name="Image" />

        <!-- <input type="submit" value="Upload" />-->
    </fieldset>
    <div class="form-group">
        <label asp-for="fisher.Password" class="control-label">Chnage your password</label>
        <input type="password" asp-for="fisher.Password" class="form-control" />

    </div>
    <div class="form-group">
        <label asp-for="fisher.SexPref" class="control-label">Sexual orientation： </label>
        <br />
        <label><input asp-for="fisher.SexPref" type="radio" value='F'> women</label>
        <label><input asp-for="fisher.SexPref" type="radio" value='M'> men </label>
        <label><input asp-for="fisher.SexPref" type="radio" value='B'> both sexes </label>

        <span asp-validation-for="fisher.SexPref" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="fisher.Email" class="control-label"></label>
        <input asp-for="fisher.Email" class="form-control" />
</div>
    

    <div class="form-group">
        <label asp-for="fisher.Description" class="control-label"></label>
        <input asp-for="fisher.Description" class="form-control" />

    </div>
    <div class="form-group">
        <label asp-for="fisher.IsActive" class="control-label">Is active： </label>

        <label><input asp-for="fisher.IsActive" type="radio" value=true> Yes </label>
        <label><input asp-for="fisher.IsActive" type="radio" value=false> No </label>

        <span asp-validation-for="fisher.IsActive" class="text-danger"></span>
    </div>
    <div class="form-group">
        <br />

        <p></p>
        <input type="submit" value="submit" class="btn btn-primary" />
        <br />
        <a asp-page="./Index">Back to Detail</a>
        <br />

    </div>
</form>
