@page  "{id}"
@model CatFishingWebSite.Pages.AccountManage.LikeMeBackModel
@{
    ViewData["Title"] = "History";
}

<h1>History</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>Operation type</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.histories)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.fisher2Id)
                </td>
                <td>
                    @if (item.InteractionsId == 1)
                    {
                        <p>Like</p>
                    }
                    else
                    {
                        <p>Reject</p>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>  <a asp-page="../AccountManage/index" asp-route-id=" @CatFishingWebSite.Model.CookieModel.id">Back to account detail</a>
<h4>*Demo for History</h4>